<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../ejs/partials/_head.ejs', {head: data.head}); %>
</head>

<body>
  <header>
    <%- include('../ejs/partials/_header.ejs', {header: data.header}); %>
  </header>

  <main>
    <section class="l-blog p-blog">
      <div class="l-inner">
        <h2 class="c-section-title">
          <span class="c-section-title__circle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          blog
        </h2>
        <div class="p-blog__cards p-cards">
          <a href="#" class="c-card">
            <div class="c-card__img">
              <img src="../images/card01.jpg" alt="写真:店内">
            </div>
            <time datetime="2022-04-25" class="c-card__time">2022.04.25</time>
            <p class="c-card__title">コロンビアから新豆届きました</p>
          </a>
          <a href="#" class="c-card">
            <div class="c-card__img">
              <img src="../images/card01.jpg" alt="写真:店内">
            </div>
            <time datetime="2022-04-25" class="c-card__time">2022.04.25</time>
            <p class="c-card__title">コロンビアから新豆届きました</p>
          </a>
          <a href="#" class="c-card">
            <div class="c-card__img">
              <img src="../images/card01.jpg" alt="写真:店内">
            </div>
            <time datetime="2022-04-25" class="c-card__time">2022.04.25</time>
            <p class="c-card__title">コロンビアから新豆届きました</p>
          </a>
          <a href="#" class="c-card">
            <div class="c-card__img">
              <img src="../images/card01.jpg" alt="写真:店内">
            </div>
            <time datetime="2022-04-25" class="c-card__time">2022.04.25</time>
            <p class="c-card__title">コロンビアから新豆届きました</p>
          </a>
          <a href="#" class="c-card">
            <div class="c-card__img">
              <img src="../images/card01.jpg" alt="写真:店内">
            </div>
            <time datetime="2022-04-25" class="c-card__time">2022.04.25</time>
            <p class="c-card__title">コロンビアから新豆届きました</p>
          </a>
          <a href="#" class="c-card">
            <div class="c-card__img">
              <img src="../images/card01.jpg" alt="写真:店内">
            </div>
            <time datetime="2022-04-25" class="c-card__time">2022.04.25</time>
            <p class="c-card__title">コロンビアから新豆届きました</p>
          </a>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../ejs/partials/_footer.ejs', {footer: data.footer}); %>
  </footer>
</body>

</html>